body{
	 margin: 0;

}
.yellow, .red{
	         height: 100px;
	         display: inline-block;
}

.yellow {
	background-color: yellow;
}

.red{
	height: 100px;
	background-color:red;
}
.box{
	margin:10px;
	width: 200px;
}